<header>
  <a routerLink="extrato">First Angular</a>
  <a routerLink="contador" routerLinkActive="ativo">Ir para o Contador</a>
  <a routerLink="nova-transferencia" routerLinkActive="ativo">Nova transferência</a>
  <a routerLink="extrato" routerLinkActive="ativo">Voltar para Home</a>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<!-- aqui usamos o a routerLink justamente porque se fossemos usar o href, ele renderizaria toda página e não só o componente e esse náo é o objetivo de uma SPA-->

